:root {
    /* text */
    --main-text-color: #818181;
    --main-highlight-color: #f1f1f1;
    --main-hover-color: #444;
    /* text backgrounds */
    --main-bg-color: #f1f1f1;
    /* company accents */
    --main-comp-color: #251f56;
    --main-comp-highlight-color: #362d7a;
    --main-comp-highlight-color-alt: #665AC4;
}

#main {
    padding: 0% 3%;
}

/* --- header extension --- */
.index-title {
    position: absolute;
    text-align: left;
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
    font-size: calc(1em + 5vw);
    margin: auto auto 23vw;
    padding: 0.5em;
    color: #fff;
}

.contact-btn {
    position: absolute;
    text-align: left;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: calc(1em + 1vw);

    margin: 39vw auto auto;
    margin-left: 1em;

    padding: 0.1em;
    color: #fff;
    font-family: 'Trebuchet MS';
    background-color: rgba(170, 170, 170, 0.7);
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: rgba(170, 170, 170, 0.9);
    border-bottom: 1px solid white;   
}

/* --- main sections --- */

.section1 {
    padding-top: 50px;
}

.section-title {
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 5%;
}

.section-body {
    font-size: 1em;
    padding: 20px 20px;
}

/* --- incentive list --- */

ul {
    list-style: none;
    font-size: 1.1em;
}

ul .i-list::before {
    content: "";
    background-image: url(icons/etc/arrow_forward_ios-24px.svg);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
}

.i-list {
    padding: 30px 10px;
    text-indent: -1.2em;
}

/* --- hr's --- */

.link-separator {
    margin-right: 50%;
}

.body-separator {
    margin: 75px 25%;
}

/* --- contact form --- */

#contactContainer {
    background-color: inherit;
    padding: 10px 6% 75px 6%;
}

.contact-bg {
    color: black;
    border-radius: 5px;
    padding: 20px;
}

.contact-title {
    text-align: center;
    padding: 20px 0px;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}

/* style inputs w/ type="text", select elements, and textareas */

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    /* gray border */
    border-radius: 4px;
    /* rounded borders */
    box-sizing: border-box;
    /* make sure padding & width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    /* allow user to vertically resize the textarea */
}

form label {
    padding-left: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#contactName, #contactEmail, #contactMessage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#_contactEmail {
    display: none;
}

.submit-btn {
    background-color: var(--main-bg-color);
    color: var(--main-comp-color);
    padding: 12px 20px;
    border: 2px solid var(--main-comp-color);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Trebuchet MS';
    font-size: 1em;
    font-weight: normal;
}

.submit-btn:hover {
    background-color: var(--main-comp-highlight-color-alt);
    color: white;
}

/* adjust body ('main'), etc. for larger screens */

@media screen and (min-width: 750px) {
    /* narrow allowed width of all content (besides header/footer) */
    #main {
        padding: 0% 15%;
    }
    /* header extension */
    .contact-btn {
        font-size: calc(1em + 2vw);
    }
    /* text sections */
    .section-title {
        margin: 0% 5%;
        font-size: 2em;
    }
    .section-body {
        margin: 0% 5%;
        font-size: 1.5em;
    }
    .i-list {
        font-size: 1.2em;
        margin: 20px 6%;
    }
    /* contact form */
    #contactContainer {
        padding: 10px 12% 75px 12%;
    }
}

/* adjust body ('main'), etc. for huge screens */

@media screen and (min-width: 1500px) {}