:root {
    /* text */
    --main-text-color: #818181;
    --main-highlight-color: #f1f1f1;
    --main-hover-color: #444;

    /* text backgrounds */
    --main-bg-color: #f1f1f1;

    /* company accents */
    --main-comp-color: #251f56;
    --main-comp-highlight-color: #362d7a;
}

#main {
    padding: 0% 3%;
}

/* --- header extension --- */
.hdr-container {
    position: relative;
    text-align: left;
    color: white;
    padding-bottom: 75px;
}

.hdr-img {
    width: 200%;
    overflow: hidden;
}

.title {
    position: absolute;
    text-align: left;
    top: 5%;
    left: -1%;
    font-weight: bold;
    font-size: 10vw;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.contact-btn {
    position: absolute;
    bottom: 30%; /* wack, but works */
    left: 3%;
    font-size: 5vw;
    font-family: 'Trebuchet MS';
    padding: 5px 10px;
    background-color: rgba(170, 170, 170, 0.7);
    border: 1px solid white;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    cursor: pointer;
    border-radius: 5px;
}

.contact-btn:hover {
    background-color: rgba(170, 170, 170, 0.9);
}

/* --- main sections --- */
.section-title {
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    /* padding: 50px 30px 10px 30px; */
    padding-left: 5%;
}

.section-body {
    font-size: 1em;
    padding: 20px 20px;
}

/* --- incentive list --- */
ul {
    list-style: none;
    font-size: 1.1em;
}

ul .i-list::before {
    content: "";
    background-image: url(icons/etc/arrow_forward_ios-24px.svg);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
}

.i-list {
    padding: 30px 10px;
    text-indent: -1.2em;
}

/* --- hr's --- */
.link-separator {
    margin-right: 50%;
}

.body-separator {
    margin: 75px 25%;
}

/* --- contact form --- */
#contactContainer {
    background-color: inherit;
    padding: 10px 20px 75px 20px;
}

.contact-bg {
    background-color: #111;
    color: white;
    border-radius: 5px;
    padding: 20px;
}

.contact-title {
    text-align: center;
    padding: 20px 0px;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}

/* style inputs w/ type="text", select elements, and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc; /* gray border */
    border-radius: 4px; /* rounded borders */
    box-sizing: border-box; /* make sure padding & width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* allow user to vertically resize the textarea */
}

form label {
    padding-left: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#contactName, #contactEmail, #contactMessage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit] {
    background-color: var(--main-comp-highlight-color);
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Trebuchet MS';
    font-size: 1.2em;
}

    input[type=submit]:hover {
        background-color: var(--main-comp-color);
    }

/* adjust body ('main'), etc. for larger screens */
@media screen and (min-width: 750px) {
    #main {
        padding: 0% 15%;
    }

    .hdr-img {
        width: 100%;
    }
    .title {
        font-size: 7vw;
        left: 10px;
    }
    .contact-btn {
        font-size: 4vw;
        left: 30px;
    }

    .section-title {
        margin: 0% 7%;
        font-size: 2em;
    }
    .section-body {
        margin: 0% 5%;
        font-size: 1.5em;
    }

    .i-list {
        font-size: 1.2em;
        margin: 20px 6%;
    }
}


/* --- the rest is bullshit --- */



h1 {
    text-align: center;
}

.cust-quotes {
    width: 80%;
    margin-left: 10%;
    padding: 30px 0px;
}

.scroll-left {
    height: 50px;
    overflow: hidden;
    position: relative;
    margin: 20px 0px;
    color: var(--main-text-color);
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.scroll-left p {
    position: absolute;
    width: 80%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    /* starting position */
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    /* apply animation */
    animation: scroll-left 15s linear infinite;
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
}

/* define the animtion */
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}
@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}
@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}