:root {
    /* header/navigation */
    --main-menu-color: #111;

    /* text */
    --main-text-color: #818181;
    --main-highlight-color: #f1f1f1;
    --main-hover-color: #444;

    /* text backgrounds */
    --main-bg-color: #f1f1f1;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;;
    background-color: var(--main-bg-color);
}

.header {
    overflow: hidden;
    background-color: var(--main-menu-color);
    padding: 10px 10px;
}

.quickLinks {
    display: none;
    float: right;
}

.quickLinks a {
    text-decoration: none;
    color: var(--main-text-color);
    padding-right: 15px;
}

.quickLinks a:hover {
    color: var(--main-highlight-color);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--main-menu-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
}

.sidebar a {
    padding: 8px 24px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: var(--main-text-color);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: var(--main-highlight-color);
}

.navbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--main-menu-color);
    color: white;
    padding: 10px 15px;
    border: none;
    float: right;
}

.navbtn:hover {
    background-color: var(--main-hover-color);
}

/* #main {
    transition: margin-right .5s;
} */

#navBtn {
    transition: margin-right .45s;
}

h1 {
    padding: 0px 20px;
}

p {
    padding: 0px 20px 20px 20px;
}

.footer {
    padding: 40px 0px 0px 0px;
    background-color: var(--main-menu-color);
}

.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.footer-info {
    color: var(--main-text-color);
    line-height: 1.6;
}

.footer-social {
    position: absolute;
    right: 20px;
    text-align: right;
}

#socialLinks1 li {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

/* #socialLinks2 {
    
} */

#socialText, #divider {
    color: var(--main-highlight-color);
}

.social-svg {
    width: 80%;
    padding-top: 10px;
}

.footer-legal {
    width: 100%;
    padding-top: 10px;
    color: var(--main-text-color);
}

.nostyle {
    text-decoration: none;
    color: inherit;
}

    .nostyle:hover {
        color: var(--main-highlight-color);
    }

/* On larger screens, use regular nav header */
@media screen and (min-width: 750px) {
    .navbtn {
        display: none;
    }

    .quickLinks {
        display: inline-block
    }

    #socialLinks2 {
        display: none;
        opacity: 0;
    }

    #socialLinks1 li {
        display: inline;
    }
}
